@model RouteManagerMVC.Models.ReportRouteViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Rota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExcelFile.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExcelFile.FileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExcelFile.UploadDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.ExcelFile.UploadDate.ToString("dd/MM/yyyy hh:mm")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExcelFile.Columns)
        </dt>
        <dd class = "col-sm-10">
            <select asp-items="@(new SelectList(Model.ExcelFile.Columns))" class="form-control"></select>
        </dd>
    </dl>
</div>
<div class="mb-3">

    <a asp-action="Index" class="btn btn-secondary btn-icon-split">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Voltar á lista</span>
    </a>

</div>
