@model IEnumerable<RouteManagerMVC.Models.ExcelFileViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="h3 mb-2 text-gray-800">Rotas</h1>

<hr class="sidebar-divider">


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <form method="post" enctype="multipart/form-data" asp-controller="ReportRoutes" asp-action="BatchRouteUpload">
            <div class="row">
                <div class="col-md-4">
                    <input type="file" name="file" value="Escolher Arquivo"  class="btn btn-primary" />
                </div>
                <div class="col-md-3">
                    <input type="submit" value="Enviar Arquivo" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.FileName)</th>
                        <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.UploadDate)</th>
                        <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.Columns)</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.FileName)</th>
                        <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.UploadDate)</th>
                        <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.Columns)</th>
                        <th></th>
                    </tr>
                </tfoot>


                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="odd">
                            <td>
                                @Html.DisplayFor(modelItem => item.FileName)
                            </td>
                            <td>
                                @item.UploadDate.ToString("dd/MM/yyyy hh:mm")
                            </td>
                            <td>
                                <select asp-items="@(new SelectList(@item.Columns))" class="form-control"></select>

                            </td>
                            <td>
                                <a asp-action="Import" asp-route-id="@item.Id" class="btn btn-warning btn-circle">
                                    <i class="fas fa-file"></i>
                                </a>

                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-circle">
                                    <i class="fas fa-info-circle"></i>
                                </a>

                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-circle">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
