@model GeradorRotas.Domain.Entities.Rota

@{
    ViewData["Title"] = "Delete";
}

<h1>Remover</h1>

<h3>Você tem certeza de que quer apagar isto?</h3>
<div>
    <h4>Rota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Base)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Base)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servico)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à lista</a>
    </form>
</div>
