@model IEnumerable<GeradorRotas.Domain.Entities.Rota>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <form method="post" enctype="multipart/form-data" asp-controller="Rotas" asp-action="BatchRotaUpload">
        <div class="row">
            <div class="col-md-4">
                <input type="file" name="file" value="Escolher Arquivo" multiple />
            </div>
            <div class="col-md-3">
                <input type="submit" value="Enviar Arquivo" class="btn btn-primary" />
            </div>
    </form>
</div>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Base)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Base)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servico)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
